nav {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 20px;
}

footer {
  margin: 0px 200px 10px 200px;
  border-radius: 25px;
  padding: 30px 30px;
  color: white;
  background-color: #f8f8fe;
  opacity: 80%;
  text-align: center;
  font-size: 17px;
}

h1 {
  font-size: 50px;
}

h3 {
  opacity: 80%;
}

p {
  font-size: 25px;
}

.title {
  text-align: center;
}

.category-preview,
.archive-preview {
  text-align: center;
  list-style-position: inside;
  padding: 0;
}

.category-preview li,
.archive-preview li {
  display: inline-block;
  margin: 3rem;
}

.post-preview:hover,
.post-preview:focus {
  border: none;
  box-shadow: 0 7px 20px 0 rgb(0 0 0 / 40%), 0 4px 10px 0 rgb(0 0 0 / 30%);
  color: transparent;
  text-shadow: 0px 0px 0px transparent;
}
.post-preview {
  position: relative;
  display: flex;
  width: 22rem;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 20%), 0 2px 5px 0 rgb(0 0 0 / 20%);
  height: 14.7rem;
  background-size: 22rem 14.7rem;
  border-radius: 10px;
  color: #dbe8d4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-shadow: 2px 5px 20px black;
}

.post-preview-title {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-weight: 700;
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.miniimg_org {
  opacity: 70%;
}

.miniimg_org:hover {
  opacity: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transform: scale(1.1);
}

.socials {
  margin-top: 30px;
  padding: 20px;
}

.socials li {
  padding: 20px;
  background: #f8f8fe;
  display: block;
  font-size: 20px;
  border: 2px solid white;
}

@media (min-width: 1024px) {
  .socials li {
    padding: 35px;
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  footer {
    margin: 0px 10px 10px 10px;
  }
}

@media (max-width: 500px) {
  .post-preview {
    width: 14.5rem;
    height: 9rem;
    background-size: 14.5rem 9rem;
  }
  .post-preview-title {
    font-size: 37px;
  }
  .category-preview li,
  .archive-preview li {
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

.socials li:hover {
  border: 2px solid rgba(0, 0, 0, 0.01);
  background: rgba(241, 218, 245, 0.35);
  transition: all 0.8s ease;
}

a:hover {
  text-decoration: none;
}
